nav {
  position: fixed;
  width: 1024px;
  height: 80px;
  top: 24px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  align-items: center;
  z-index: 300;
  border-radius: 0px 0px 10px 10px;
  padding: 16px 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

nav ul li a,
a.logo {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

a.logo .red {
  color: var(--red-color);
}
